# Logging Configuration
LOG_DIR=<LOG_DIR>  # e.g., ./log

#Binanace keys
BINANCE_HMAC_API_KEY=<BINANCE_HMAC_API_KEY>
BINANCE_HMAC_SECRET_KEY=<BINANCE_HMAC_SECRET_KEY>

BINANCE_ED25519_API_KEY=<BINANCE_ED25519_API_KEY>
BINANCE_ED25519_SECRET_KEY=<BINANCE_ED25519_SECRET_KEY>

#MEXC keys
MEXC_HMAC_API_KEY=<MEXC_HMAC_API_KEY>
MEXC_HAMC_SECRET_KEY=<MEXC_HMAC_SECRET_KEY>

#Telegram keys
TELEGRAM_API_KEY=<TELEGRAM_API_KEY>
TELEGRAM_CHANNEL_ID=<TELEGRAM_CHANNEL_ID>
