[submodule "bot"]
	path = bot
	url = https://github.com/JoohanJin/AutoCryptoTrading-bot.git
[submodule "orderbook"]
	path = orderbook
	url = https://github.com/JoohanJin/AutoCryptoTrading-orderbook.git
[submodule "db"]
	path = db
	url = https://github.com/JoohanJin/AutoCryptoTrading-db.git
